@import "../../assets/styles/variables.scss";

.dropdown {
  position: relative;
  width: 200px;
  height: 40px;
  background-color: #a0a0a0;
  border-radius: 20px;
  cursor: pointer;
}
.valueWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  color: white;
}
.value {
  padding: 0 15px;
}
.iconWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 100%;
  font-size: 14px;
}
.options {
  z-index: 1;
  position: absolute;
  width: 100%;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}
.option {
  height: 40px;
  padding: 0 15px;
  line-height: 40px;
  color: #a0a0a0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  &:last-child {
    border-bottom: none;
  }
  &:hover,
  &Active {
    color: $blue;
  }
}
