@import "../../../assets/styles/variables.scss";

.wrapper {
  position: relative;
  padding:  0 20px 20px;
  
  .project {
    // border: 1px solid $blue;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 6px; 
    margin-bottom: 20px;
    
    .title {
      position: relative;
      height: 40px;
      // display: flex;
      // justify-content: flex-start;
      // align-items: center;
      // height: 40px;
      // padding: 0 20px;
      // color: #8c8c8c;
      // text-transform: uppercase;
      // cursor: pointer;
      .name {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 100%;
        padding: 0 20px;
        color: #8c8c8c;
        text-transform: uppercase;
        cursor: pointer;
      }
      .DownUpDeleteButtonsBlock {
        position: absolute;
        top: 0;
        right: 0;
      }
    }
    .description {
      .tag {
        display: flex;
      }
    }
  }
}
