.wrapper {
  position: relative;
  padding: 0 20px 20px;
  .projectWrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    margin-bottom: 20px;
    .project {
      display: flex;
      flex-wrap: wrap;
      width: 580px;
      .buttons {
        display: flex;
        justify-content: center;

        width: 290px;
        height: 40px;
        margin-bottom: 20px;
      }
      .description {
        .tag {
          display: flex;
        }
      }
    }
  }
}
