.Admin {
  min-height: 100vh;
  display: flex;
  & > .Sidebar {
    z-index: 1;
    min-width: 300px;
    width: 20%;
    .links {
      position: fixed;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 20px 0;
      color: rgb(158, 162, 168);
      a {
        text-transform: uppercase;
        margin: 10px 0;
        text-decoration: none;
        border-left: 2px solid transparent;
        padding-left: 20px;
        &.active {
          color: white;
          border-left: 2px solid white;
        }
      }
    }
  }
  & > main {
    position: relative;
    z-index: 0;
    width: 80%;
  }
}
@media (max-width: 750px) {
  .Admin {
    display: block;
    & > *:first-child {
      width: 100%;
    }
    & > *:nth-child(2) {
      width: 100%;
    }
  }
}
