@import "../../assets/styles/variables.scss";

.Profile {

  & > * {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  .general {
    align-items: center;
    background: rgba(0, 0, 0, 0.25);
    .avatar {
      width: 150px;
      height: 150px;
      object-fit: cover;
      border: 3px solid white;
      border-radius: 50%;
      transition: 0.2s;
    }
    .name {
      font-size: 32px;
      font-weight: 600;
      text-align: center;
    }
    .qualification {
      font-size: 18px;
      font-weight: 500;
    }
  }


  
  .Profile,
  .Contact,
  
  & > *.section
   {
    display: flex;
    flex-direction: column;
    padding: 20px;
    & > * {
      margin: 5px;
    }
    & > *.title {
      text-transform: uppercase;
      font-size: 18px;
      text-align: center;
      font-weight: 600;
    }
    .subsection {
      & > *.title {
        font-weight: 500;
      }
      & > *.row {
        font-weight: 200;
      }
    }
  }
}
