@import "../../assets/styles/variables.scss";

.Tags {
  display: flex;
  align-items: center;
  justify-content: center;
  // padding: 20px;
  .tag {
    height: 80px;
    padding: 0 15px;
    font-size: 16px;
    font-weight: 400;
    background-color: transparent;
    // color: rgb(140, 140, 140);
    color: #a0a0a0;
  
    border-top: 3px solid transparent; 
    border-bottom: 3px solid transparent;

    // border: 1px solid transparent;

    &:hover {
      color: $blue;
    }
    
  }

  .tag-active {
    border-top: 3px solid $blue;
    
    // border: 1px solid $blue;
    color: $blue;
    // &:hover {
    //   color: rgb(140, 140, 140);
    // }
  }
}
