@import "../../assets/styles/variables.scss";

.LogIn {

 
  background-color: $blue;
  color: $font-dark;
  color: white;

  width: 40px;
  height: 40px;
  box-shadow: 0 0 10px $blue;
  &:hover {
    background-color: $blue-darker;
    box-shadow: 0 0 10px $blue-darker;
  
  }
}