@import "../../assets/styles/variables.scss";

.Up {
  background-color: $blue;
  color: white;
  border-radius: 50%;
  // box-shadow: 0 0 10px $blue;
  width: 40px;
  height: 40px;
  &:hover {
    background-color: $blue-darker;
    // box-shadow: 0 0 10px $blue-darker;
  
  }
 
}