.Skills {
  position: relative;
  .skill {
    display: flex;
    
    .technologies {
      // display: flex;
      // flex-direction: column;
      // align-items: center;
      
      
      
      
    }
  }
  
  
  
  .category {
    // padding: 20px;
    // border: 1px solid red;
    display: flex;

    .technology {
      display: flex;
    }
  }
}