.Skills {
  position: relative;
  .skill {
    display: flex;
    .buttons {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 290px;
      height: 80px;
    }
  }
}
