@import "../../../assets/styles/variables";

.Education {
  .row {
    .speciality {
      color: white;
    }
    .institution {
      color: $grey;
    }
    .time {
      color: $grey;
    }
  }
}
