.wrapper {
  display: flex;
  .circle {
    border-top-color: transparent !important;
    border-style: solid;
    border-radius: 50%;
    animation: rotate 1s linear infinite;
  }
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
