@import '../../assets/styles/variables.scss';

.Resume {
  display: flex;
  justify-content: center;
  // width: 425px;
  height: 80px;
  background-color: white;
  box-shadow: 0 0 10px white;
 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  // background-color: $grey;
  // filter: blur(5px);
  position: relative;

  & > * {
    height: 100%;
  }

  .background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    background-color: #E7EBF0;
    filter: blur(20px);
  }

  .right {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    & > * {
      margin: 0 10px;
    }
  
  }


  .button {
    width: 200px;
    height: 40px;
    background-color: $blue;
    color: white;
    box-shadow: 0 0 10px $blue;
    display: flex;
    align-items: center;
    justify-content: center;
    


    &:hover {
      background-color: $blue-darker;
      box-shadow: 0 0 10px $blue-darker;
    }
    .icon {
      font-size: 11px;
      margin-right: 4px;
    }
  }

}