.FileInput {
  padding: 20px;
  .label {
    margin-bottom: 10px;
    font-size: 16px;
    color: #8c8c8c;
  }
  .preview {
    position: relative;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    width: 250px;
    height: 40px;
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    border: 1px solid #a0a0a0;

    // &:hover {
    //   background-color: rgba(0, 0, 0, 0.02);
    // }
    .text {
      margin: 0 10px;
    //   display: flex;
    // justify-content: flex-start;
    // align-items: center;
      width: calc(100% - 60px);
      height: 100%;
      line-height: 38px;
      font-size: 18px;
      font-weight: 300;
      color: lightgrey;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .remove {
      position: absolute;
      width: 38px;
      height: 38px;
     
      right: 0;
      top: 0;
     
      display: flex;
      justify-content: center;
      align-items: center;
     
      color: #cb3837;
      font-size: 20px;
      transition: all 0.2s;
      &:hover {
        background-color: rgba(0, 0, 0, 0.1);
      }
    }

    // .text {
    //   display: flex;
    //   flex-direction: column;
    //   justify-content: center;
    //   align-items: center;
    //   width: 200px;
    //   height: 200px;
    //   font-size: 42px;
    //   color: lightgrey;
    //   border: 1px dashed lightgrey;
    //   border-radius: 10px;
    //   div {
    //     margin-top: 10px;
    //     font-size: 16px;
    //   }
    // }
  }

  input {
    display: none;
  }
}
