@import "../../assets/styles/variables.scss";

.Home {
  min-height: 100vh;
  display: flex;
  & > *:first-child {
    z-index: 1;
    min-width: 300px;
    width: 20%;
  }
  & > *:last-child {
    z-index: 0;
  
    width: 80%;
    padding-bottom: 80px;
  }

  .LogIn {
    position: absolute;
    top: 20px;
    right: 20px;
  }

  .Projects {
    margin-top: -20px;
  }

  // .Tags {
  //   z-index: 2;
  //   position: sticky;
  //   top: 0;
  //   background-color: $light-blue;
  //   background: white;
  //   box-shadow: 0 0 10px rgba(0, 0, 0, 0.075);

  // }

  // .Resume {
  //   position: sticky;
  //   top: calc(100vh - 80px);
  //   left: 0;
  //   right: 0;
  //   margin: auto;
  // }



  .Resume {
    position: fixed;
    // top: calc(100vh - 80px);
    bottom: 0;
    // left: 0;
    // right: 0;
    // margin: auto;
    width:inherit;
  }

}

@media (max-width: 750px) {
  .Home {
    display: block;
    & > *:first-child {
     
      width: 100%;
    }
    & > *:last-child {
      
    
      width: 100%;
    }
  }
}