@import "../../assets/styles/variables.scss";

.Home {
  min-height: 100vh;
  display: flex;
  & > *:first-child {
    flex: 1;
    z-index: 1;
    min-width: 300px;
  }
  & > *:last-child {
    z-index: 0;
    flex: 4;
  }

  .LogIn {
    position: absolute;
    top: 20px;
    right: 20px;
  }

  .Tags {
    margin-top: 20px;
  }

  .Resume {
    position: sticky;
    top: calc(100vh - 80px);
    left: 0;
    right: 0;
    margin: auto;
  }

}

@media (max-width: 600px) {
  .Home {
    display: block;
  }
}