.Home {
  min-height: 100vh;
  display: flex;
  & > .Sidebar {
    z-index: 1;
    min-width: 300px;
    width: 20%;
  }
  & > main {
    z-index: 0;
    width: 80%;
    padding-bottom: 80px;
  }
  & > .Footer {
    & button {
      margin: 10px;
    }
  }
}
@media (max-width: 750px) {
  .Home {
    display: block;
    & > .Sidebar {
      width: 100%;
    }
    & > main {
      width: 100%;
    }
  }
}
