@import "../../../assets/styles/variables";

.Experiences {
  .row {
    .job {
      color: white;
    }
    .company {
      color: $white-transparent;
    }
    .time {
      color: $white-transparent;
    }
  }
}
