@import "../../assets/styles/variables.scss";

.Contact {
  display: flex;
  flex-direction: column;
  color: white;
  // align-items: center;
  
  padding: 20px;
  & > * {
    margin: 5px;
  }
  .row {
    display: flex;
    align-items: center;
    .icon {
      width: 30px;
    }
  }
 
}
