.ImageInput {
  padding: 20px;
  .label {
    margin-bottom: 10px;
    font-size: 16px;
    color: #8c8c8c;
  }
  .preview {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    border: 1px solid #a0a0a0;

    &:hover .text {
      background-color: rgba(0, 0, 0, 0.02);
    }

    .remove {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 50px;
      color: #cb3837;
      font-size: 20px;
      transition: all 0.2s;
      &:hover {
        background-color: rgba(0, 0, 0, 0.1);
      }
    }

    .text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 200px;
      height: 200px;
      font-size: 42px;
      color: lightgrey;
      border: 1px dashed lightgrey;
      border-radius: 10px;
      div {
        margin-top: 10px;
        font-size: 16px;
      }
    }
  }

  input {
    display: none;
  }
}
