@import "../../assets/styles/variables.scss";

.Sidebar {
  background-color: $blue;
  color: $font-dark;
  color: white;
    box-shadow: 0 0 10px $blue;
    z-index: 1;
  .Profile,
  .Contact,
  
  & > *.section
   {
    display: flex;
    flex-direction: column;
    padding: 20px;
    & > * {
      margin: 5px;
    }
    & > *.title {
      text-transform: uppercase;
      font-size: 18px;
      text-align: center;
      font-weight: 600;
    }
    .subsection {
      & > *.title {
        font-weight: 500;
      }
      & > *.row {
        font-weight: 200;
      }
    }
  }
}
