@import "../../assets/styles/variables.scss";

.Sidebar {
  background-color: $background-light-grey;
  background-color: $font-dark;
  background-color: black;
  color: $font-dark;
  color: white;
  box-shadow: 0 0 5px $font-dark;
  .Profile,
  .Contact,
  
  & > *.section
   {
    display: flex;
    flex-direction: column;
    padding: 20px;
    & > * {
      margin: 5px;
    }
    & > *.title {
      text-transform: uppercase;
      font-size: 18px;
      text-align: center;
      font-weight: 500;
    }
    .subsection {
      & > *.title {
        font-weight: 500;
      }
      & > *.row {
        font-weight: 300;
      }
    }
  }
}
