@import "../../assets/styles/variables.scss";

.Sidebar {
  background-color: $dark-grey;
  .Profile,
  .Contact,
  .Skills,
  .Experiences,
  .Education,
  .Languages {
    display: flex;
    flex-direction: column;
    padding: 20px;
    & > * {
      margin: 5px;
    }
    .title {
      text-transform: uppercase;
      color: white;
      font-size: 18px;
      text-align: center;
      font-weight: 700;
    }
  }
}
