.Textarea {
  
  padding: 20px;
  .label {
    margin-bottom: 10px;
    font-size: 16px;
    color: #8c8c8c;
    
  }
  textarea {
    width: 300px;
    height: 200px;
    resize: none;
    border: 1px solid #a0a0a0;
  }
}
