@import "./variables.scss";

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $background-light-grey;
  color: $font-dark;
  width: 40px;
  height: 40px;
  transition: 0.2s;
  cursor: pointer;
  &:hover {
    background-color: $grey;
  }
}