// COLORS
//$cyan: rgb(66, 168, 192);

//$blue: #6699cc;
//$blue: #58677c;
//$blue: rgb(52, 61, 70);


//$grey: #F7F8FA;



// $grey: rgba(255, 255, 255, 0.5);
// $dark-grey: #24292e;

// $dark-grey: #cccccc;
// $grey:  #f1f1f1;
// $dark-grey: rgb(45, 125, 154);

$grey: #cccccc;
$background-light-grey:#f1f1f1;
$font-dark: rgb(51, 51, 51);
$font-light: rgb(157, 157, 157);



$light-blue: rgb(231, 235, 240);
// $blue: rgb(86,130,163);
$blue: rgb(47, 52, 61);
// $blue-darker: #40617A;
$blue-darker: rgb(31, 35, 41);